﻿@model ContactManagement.Models.Contact

<header class="header-2">
    <div id="" class="page-header min-vh-20 relative" style="background-image: url('/Images/bg2.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <br /><br />
                    <p class="lead text-white mt-5">L'ajout des contacts se fait selon le respect de certaines règles de validation.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="d-flex justify-content-between mt-2">
    <ol class="breadcrumb w-100 m-auto">
        <li class="breadcrumb-item active text-danger text-center" aria-current="page">Tous les champs sont réquis</li>
        <li class="breadcrumb-item active text-danger text-center">
            L'email doit etre valide
        </li>
        <li class="breadcrumb-item active text-secondary text-center">
            Le téléphone doit avoir le format <span class="text-danger"> (000) 000-0000</span>
        </li>
        <li class="breadcrumb-item active text-secondary text-center">
            Le code postal doit avoir le model Canadien <span class="text-danger"> A9A 9A9</span>
        </li>
    </ol>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">

                <!--   all errors will show here-->
                @Html.ValidationSummary(true, "", new { @class = "text-danger col-12" })
                <div class="text-center">
                    @Html.ValidationMessage("error", "", new { @class = "text-danger" })
                </div>

                <div class="mb-2 mt-2 w-100  w-md-50 w-lg-25">
                    <h3>Ajouter un contact</h3>
                </div>
                <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">

                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="preview-forms-simple" role="tabpanel">

                            <section>
                                <div class="container py-4">
                                    <div class="row">
                                        <div class="col-lg-10 mx-auto d-flex justify-content-center flex-column">
                                            <div role="form" id="contact-form" autocomplete="off">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group input-group-static mb-4">
                                                                @Html.LabelFor(x => x.FirstName, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-static">
                                                                @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group input-group-static mb-4">
                                                                @Html.LabelFor(x => x.Email, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-static">
                                                                @Html.LabelFor(x => x.Telephone, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group input-group-static mb-4">
                                                                @Html.LabelFor(x => x.City, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-static">
                                                                @Html.LabelFor(x => x.Province, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group input-group-static mb-4">
                                                                @Html.LabelFor(x => x.PostalCode, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-static">
                                                                @Html.LabelFor(x => x.Country, new { @class = "form-label" })
                                                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comments">
                                                        <!-- all contact comment's will show here -->
                                                    </div>
                                                    <div class="text-center mt-4 mb-2">
                                                        <a id="btnComm" class="btn btn-sm btn-light text-center"><span class="fa fa-plus"></span> Nouveau commentaire</a>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button style="background: linear-gradient(to right, #7b4397, #dc2430); " type="submit" class="btn w-100 text-white fs-6">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        var commentIndex = 0;
        $(function () {
            $(".form-control").each(function () {
                if ($(this).val().length > 0)
                    $(this).addClass("pt-4")
            });

            $("#btnComm").click(function () {
                commentIndex++;
                let noeud = "<div id=div" + commentIndex + " class='input-group input-group-dynamic'>" +
                    " <label class='form-label'> Nouveau commentaire " + commentIndex + " </label > " +
                    "<input required name='comment' type='text' class='form-control pt-5 pb-3'> " +
                    "<a href=\"javascript:removeComment('div" + commentIndex + "');\" class='btn btn-ligth'> <span  class='fa fa-remove text-danger mx-2'></span></a></div>";
                $('#comments').append(noeud);
            });
        });

        function removeComment(id) {
            $('#' + id).remove();
        }

    </script>
}