﻿@model ContactManagement.Models.Contact

<header class="header-2">
    <div id="" class="page-header min-vh-20 relative" style="background-image: url('/Images/bg2.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <br /><br />
                    <p class="lead text-white mt-5">Débarrasez vous des contacts inutiles ou non utilisé !</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mt-2">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="w-100 w-md-50 w-lg-25 mt-3">
                <h3>Détails du contact</h3>
                <a style="background: linear-gradient(to right, #7b4397, #dc2430);" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#deleteModal" href="" class="btn btn-sm text-white delete">Supprimer</a>
            </div>
        </div>
        <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">

            <div class="tab-content tab-space">
                <div class="tab-pane active" id="preview-forms-simple" role="tabpanel">

                    <section>
                        <div class="container py-4">
                            <div class="row">
                                <div class="col-lg-10 mx-auto d-flex justify-content-center flex-column">
                                    <div role="form" id="contact-form" autocomplete="off">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.FirstName, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ps-2">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.Email, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ps-2">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.Telephone, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.City, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ps-2">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.Province, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.Province, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.PostalCode, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mx-auto">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.Country, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.CreatedOn, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mx-auto">
                                                    <div class="input-group input-group-static">
                                                        @Html.LabelFor(x => x.UpdatedOn, new { @class = "form-label" })
                                                        @Html.EditorFor(model => model.UpdatedOn, new { htmlAttributes = new { disabled = true, @class = "form-control pt-4 fs-5 text-muted" } })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-center mt-4">
                                                <a href="javascript:void(0)" class="btn btn-sm btn-light text-center"> Commentaires</a>
                                            </div>

                                            <div id="comments" class="mt-2">
                                                <!-- all existing contact comment's will show here -->
                                                @{
                                                    int index = 0;
                                                    foreach (string comment in ViewBag.Comments)
                                                    {
                                                        index++;
                                                        <div id="div_@index" class='input-group input-group-dynamic'>
                                                            <input disabled name='comment' value="@comment" type='text' class='form-control pt-2 pb-2' />
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


    </div>
</div>


@section Scripts
{
    <script>
        $(function () {

            //Everytime we press delete button
            $('.delete').click(function (e) {
                e.preventDefault();
                //Update the item to delete id so our model knows which one to delete
                var id = $(this).data('id');

                // set form action property
                $('#delete-form').attr('action', '/Contact/Delete/' + id);
            });
        });
    </script>

}

<!--  Partial delete contact -->
@Html.Partial("_DeleteModal");