﻿
@section Css{
    <link href="~/Content/file_upload.css" rel="stylesheet" />
}

<header class="header-2">
    <div id="" class="page-header min-vh-20 relative" style="background-image: url('/Images/bg2.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <br />
                    <p class="lead text-white mt-5">Avant de sélectionner votre fichier, veuillez lire attentivement les directives ci-dessous.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="d-flex justify-content-between mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active text-secondary text-center">
            Le fichier doit etre au format <span class="text-danger"> .CSV</span>
        </li>
        <li class="breadcrumb-item active text-dark text-center">
            La premiere ligne doit contenir le nom des colonnes (<span class="text-danger">firstname,  lastname,  email,  telephone,  city,  province,  postalcode,  country</span>,  comments1,  comments2, ...)
        </li>
        <li class="breadcrumb-item active text-secondary text-center">Les cellules en <span class="text-danger">rouge</span> sont obligatoires</li>
        <li class="breadcrumb-item active text-danger text-center">
            L'email doit etre valide
        </li>
        <li class="breadcrumb-item active text-secondary text-center">
            Le téléphone doit avoir le format <span class="text-danger"> (000) 000-0000</span>
        </li>
        <li class="breadcrumb-item active text-secondary text-center">
            Le code postal doit avoir le model Canadien <span class="text-danger"> A9A 9A9</span>
        </li>
    </ol>
</div>

<!--   all errors will show here-->
@Html.ValidationSummary(true, "", new { @class = "text-danger col-12" })
<div class="text-center">
    @Html.ValidationMessage("error", "", new { @class = "text-danger" })
</div>

<!-- Upload  -->
<div class="container mt-5">
    @using (Html.BeginForm("Import", "Contact", FormMethod.Post, new { enctype = "multipart/form-data", id = "file-upload-form", @class = "uploader" }))
    {
        <input id="file-upload" type="file" name="fileUpload" accept=".csv" />

        <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden">
            <div id="start">
                <i style="font-size: 8rem" class="fa fa-download" aria-hidden="true"></i>
                <div style="font-size: 15px">Selectionner ou glisser & déposer un fichier CSV ici !</div>
                <div id="notimage" class="hidden font-weight-bold">Seule les fichiers .CSV sont autorisés</div>
            </div>
            <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                    <span>0</span>%
                </progress>
            </div>
        </label>
        <button id="btnSearch" style="background: linear-gradient(to right, #114357, #f29492) !important " class="btn w-100 text-white m-auto mt-3 font-weight-bold fs-6">Importer</button>
    }
</div>

@section Scripts
{
    <script src="~/Scripts/file_upload.js"></script>

}