﻿@model IEnumerable<ContactManagement.Models.Contact>

<header class="header-2">
    <div id="" class="page-header min-vh-10 relative" style="background-image: url('/Images/bg2.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <br />
                    <p class="lead text-white mt-5">Vous trouverez ici l'ensemble de vos contact, visualiser, modifier ou supprimer les !</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!--   all errors will show here-->
@Html.ValidationSummary(true, "", new { @class = "text-danger col-12" })
<div class="text-center">
    @Html.ValidationMessage("error", "", new { @class = "text-danger" })
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body px-0 pb-2">
                    @using (Html.BeginForm("Search", "Contact", FormMethod.Get, new { @class = "row d-flex justify-content-end" }))
                    {
                        <div class="col-lg-3 col-sm-3">
                            <div class="input-group input-group-outline">
                                <label class="form-label">Recherchez ici !</label>
                                <input value="@ViewBag.SearchText" id="inpSearch" name="search" type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <button id="btnSearch" style="background: linear-gradient(to right, #7b4397, #dc2430); " type="submit" class="btn w-60 text-white">Rechercher</button>
                        </div>
                    }
                    @Html.Hidden("contact-selected", "", new { @id = "contact-selected" })
                    <div class="table-responsive p-0">
                        <table class="table table table-striped align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Telephone)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.City)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Province)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.PostalCode)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.TotalComment)
                                    </th>
                                    <th class="text-secondary opacity-7">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contact in Model)
                                {
                                    <tr class="text-center">
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.CreatedOn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.Telephone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.City)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.Province)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.PostalCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.Country)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelContact => contact.TotalComment)
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Details", new { id = contact.Id })" class="me-3"><i class="fa-solid fa-eye"></i></a>
                                            <a class="me-3" href="@Url.Action("Edit", new { id = contact.Id })"><span class="fa fa-edit text-success"></span></a>
                                            <a data-id="@contact.Id" data-bs-toggle="modal" data-bs-target="#deleteModal" href="" class="me-3 delete"><i class="fa fa-remove text-danger"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row container-fluid mt-3">
    <ol class="col-3 breadcrumb">
        <li><strong>@ViewBag.TotalResults</strong> contacts trouvé(s).</li>
    </ol>

    <!--      Start Paging   -->
    <div class="text-center col-6">
        @{
            // get current page in url
            int page = 1;
            int.TryParse(Request.QueryString["page"], out page);
            page = (page == 0) ? 1 : page;

            // paging for mode list all
            if (ViewBag.Mode == ContactManagement.Models.ModeType.List)
            {
                // bact to the previous page after (page 5)
                if (page > 5)
                {
                    <a class="btn btn-sm btn-light mx-1" href="@Url.Action("List", new { page = page - 1, mode = ContactManagement.Models.ModeType.List })">
                        <span class="text-muted fs-6 text-center">@(page - 1)</span>
                        <i class="fa fa-arrow-left fs-6"></i>
                    </a>
                }
                // generate paging between [1 - 4]
                for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    string btn = page == i ? "btn-secondary" : "btn-light";
                    <a class="btn btn-sm @btn mx-1" href="@Url.Action("List", new { page = i, mode = ContactManagement.Models.ModeType.List })">@i</a>
                    if (i == 4) { break; }
                }
                // go to the next page after (page 4)
                if (ViewBag.TotalPage > 4 && ViewBag.TotalPage > page)
                {
                    <a class="btn btn-sm btn-light mx-1" href="@Url.Action("List", new { page = (page <= 4) ? 5 : page + 1, mode = ContactManagement.Models.ModeType.List })">
                        <i class="fa fa-arrow-right fs-6"></i>
                        <span class="text-muted text-center fs-6"> @((page <= 4) ? 5 : page + 1)</span>
                    </a>
                }
                // go to the last page
                if (ViewBag.TotalPage >= 10)
                {
                    string btn = (page == ViewBag.TotalPage) ? "btn-secondary" : "btn-light";
                    <a class="btn btn-sm @btn mx-1" href="@Url.Action("List", new { page = ViewBag.TotalPage, mode = ContactManagement.Models.ModeType.List })">@ViewBag.TotalPage</a>
                }
            }
            else // paging for mode search by name
            {
                // bact to the previous page after (page 5)
                if (page > 5)
                {
                    <a class="btn btn-sm btn-light mx-1" href="@Url.Action("Search",
                        new {search = ViewBag.SearchText, page = page - 1, mode = ContactManagement.Models.ModeType.Search })">
                        <span class="text-muted fs-6 text-center">@(page - 1)</span>
                        <i class="fa fa-arrow-left fs-6"></i>
                    </a>
                }
                // generate paging between [1 - 4]
                for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    string btn = page == i ? "btn-secondary" : "btn-light";
                    <a class="btn btn-sm @btn mx-1" href="@Url.Action("Search",
                    new {search = ViewBag.SearchText, page = i, mode = ContactManagement.Models.ModeType.Search })">
                        @i
                    </a>
                    if (i == 4) { break; }
                }
                // go to the next page after (page 4)
                if (ViewBag.TotalPage > 4 && ViewBag.TotalPage > page)
                {
                    <a class="btn btn-sm btn-light mx-1" href="@Url.Action("Search",
                        new {search = ViewBag.SearchText, page = (page <= 4) ? 5 : page + 1, mode = ContactManagement.Models.ModeType.Search })">
                        <i class="fa fa-arrow-right fs-6"></i>
                        <span class="text-muted text-center fs-6"> @((page <= 4) ? 5 : page + 1)</span>
                    </a>
                }
                // go to the last page
                if (ViewBag.TotalPage >= 10)
                {
                    string btn = (page == ViewBag.TotalPage) ? "btn-secondary" : "btn-light";
                    <a class="btn btn-sm @btn mx-1" href="@Url.Action("Search",
                    new {search = ViewBag.SearchText, page = ViewBag.TotalPage, mode = ContactManagement.Models.ModeType.Search })">
                        @ViewBag.TotalPage
                    </a>
                }
            }
        }
    </div>
    <!--   End Paging   -->
</div>

@{
    if (!Model.Any())
    {
        <p class="text-center fs-2 mb-7 mt-9 font-weight-bold">Aucun contact trouver !</p>
    }
}


@section Scripts
{
    <script>
        $(function () {
            // disabled search button on start
            $('#btnSearch').prop('disabled', true);
            // enable or disabled search button when input search change
            $('#inpSearch').on('input change', function () {
                $('#btnSearch').prop('disabled', !$(this).val().length);
            });
            $('#inpSearch').focus();


            //Everytime we press delete contact in the table row
            $('.delete').click(function (e) {
                e.preventDefault();
                //Update the item to delete id so our model knows which one to delete
                var id = $(this).data('id');
                $('#contact-selected').val(id);

                // set form action property
                $('#delete-form').attr('action', '/Contact/Delete/' + id);
            });

        });
    </script>
}

<!--  Partial delete contact -->
@Html.Partial("_DeleteModal");
